.root {
    font-family: var(--font-heading);
    margin: 0;
    text-align: center;

    @media (min-width: $mantine-breakpoint-md) {
        text-align: left;
    }
}

.small {
    font-size: 16px;
    @media (min-width: $mantine-breakpoint-md) {
        font-size: 18px;
    }
}

.medium {
    font-size: 22px;
    @media (min-width: $mantine-breakpoint-md) {
        font-size: 26px;
    }
}

.large {
    font-size: 26px;
    @media (min-width: $mantine-breakpoint-md) {
        font-size: 32px;
    }
}

.xLarge {
    font-size: 32px;
    @media (min-width: $mantine-breakpoint-md) {
        font-size: 38px;
    }
}
