.root {
    --strip-height: 30px;
    --agh-colors-green: #046b3c;
    --agh-colors-red: #b4142c;
    min-height: 100%;

    margin: var(--strip-height) 0;

    @media (min-width: $mantine-breakpoint-md) {
        --strip-height: 60px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    overflow: hidden;
}

.strip {
    position: absolute;
    left: 0;
    right: 0;
    height: calc(2 * var(--strip-height));

    &.topStrip {
        top: calc(-1 * var(--strip-height));
        background-color: var(--agh-colors-green);
    }

    &.bottomStrip {
        bottom: calc(-1 * var(--strip-height));
        background-color: var(--agh-colors-red);
    }
}
