.root {
    color: var(--mantine-color-text);
    text-decoration: none;
    text-underline-offset: 4px;

    &:visited {
        color: var(--mantine-color-text);
    }

    &:hover {
        text-decoration: underline;
    }
}
